input.demo {
    border: 2px solid black;
    width: 300px;
    height: 30px;
    font-size: 25px;
}

.top-menu {
    background-color: #151B54;
    padding: 2px 5px;
    display: flex;
}

.logo {
    max-height: 55px;
    margin: 10px 10px 10px;
}

.title {
    color: white;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 20px;
}


app-verse-card {
    display: block;
    max-width: 400px;
    margin: 50px auto;
}

app-verse-card.is-first {
    border-top: 5px solid grey;
    padding-top: 20px;
}

app-verse-card.is-last {
    border-bottom: 5px solid red;
    padding-bottom: -20px;
}

app-verse-card.is-even {
    background: lightgray;
}

app-verse-card.is-odd {
    background: lightblue;
}