<div class="top-menu">
  <img
    (click)="onLogoClicked()"
    src="assets/desert_cat_logo.png"
    class="logo"
  />
  <h1 class="title">Hello, {{ data.title }}</h1>
</div>

<input
  #titleInput
  (keyup)="onKeyUp(titleInput.value)"
  type="text"
  class="demo"
  [value]="data.title"
/>
<hr />

<div class="inputs">
  <h2>Age: {{ defaultNumber }}</h2>
  <input
    #inputNumber
    (keyup)="returnNumber(inputNumber.valueAsNumber)"
    type="number"
    [value]="defaultNumber"
  />
  <h2>Name: {{ defaultName }}</h2>
  <input
    #inputName
    (keyup)="returnName(inputName.value)"
    type="text"
    [value]="defaultName"
  />
</div>

<hr />

<app-course-card
  [title]="desertChester.description"
  [img]="desertChester.iconUrl"
  [description]="desertChester.longDescription"
></app-course-card>

<app-course-card
  [title]="spaceChester.description"
  [img]="spaceChester.iconUrl"
  [description]="spaceChester.longDescription"
></app-course-card>


<app-course-card
  [title]="techChester.description"
  [img]="techChester.iconUrl"
  [description]="techChester.longDescription"
></app-course-card>

<router-outlet />
