<div class="top-menu">
  <img
    (click)="onLogoClicked()"
    src="assets/desert_cat_logo.png"
    class="logo"
  />
  <h1 class="title">Hello, {{ data.title }}</h1>
</div>

<input
  #titleInput
  (keyup)="onKeyUp(titleInput.value)"
  type="text"
  class="demo"
  [value]="data.title"
/>
<hr />

<div class="inputs">
  <h2>Age: {{ defaultNumber }}</h2>
  <input
    #inputNumber
    (keyup)="returnNumber(inputNumber.valueAsNumber)"
    type="number"
    [value]="defaultNumber"
  />
  <h2>Name: {{ defaultName }}</h2>
  <input
    #inputName
    (keyup)="returnName(inputName.value)"
    type="text"
    [value]="defaultName"
  />
</div>

<hr />

@for ( chesterVersion of chesterVersions; track chesterVersion.id; let index
=$index ) {
<app-course-card
  [index]="index"
  (versionSelected)="onVersionSelected($event)"
  [version]="chesterVersion"
/>
} @empty {
<h1>No Chester versions to show!</h1>
}

<router-outlet />
