<h1>Hello, {{ data.title }}</h1>

<img
  (click)="onLogoClicked()"
  width="100"
  src="/assets/desert_cat-min.png"
/>

<hr />

<input
  #titleInput
  (keyup)="onKeyUp(titleInput.value)"
  type="text"
  class="demo"
  [value]="data.title"
/>
<hr />

<h2>Age: {{ defaultNumber }}</h2>
<input
  #inputNumber
  (keyup)="returnNumber(inputNumber.valueAsNumber)"
  type="number"
  [value]="defaultNumber"
/>
<hr />
<h2>Name: {{ defaultName }}</h2>
<input
  #inputName
  (keyup)="returnName(inputName.value)"
  type="text"
  [value]="defaultName"
/>

<router-outlet />
