<div class="courses">
  <div class="course-card" [ngClass]= "cardClasses()"  >
    <div class="course-title" [ngStyle]="cardStyles()">
      <!-- {{title}} -->
      {{index}}
      {{ version?.description }}
    </div>

    @if (version?.iconUrl) {
    <img width="200" src="{{ version?.iconUrl }}" alt="Desert Cat" />
    } @else {
      <h2>No image available!</h2>
    }

    <div class="course-description">
      {{ version?.longDescription }}
    </div>

    <button (click)="onVersionViewed()">View Version</button>

  </div>
</div>
